body{
    background-color: #090909;
    color: white;
}

ul {
    list-style-type: none;
}

a{
    text-decoration: none;
    color: inherit;
}

.logoNav{
    margin: 0 35px;
}

.headerNav{
margin-top: 50px;
}

.heroSection {

}

.container{
    max-width: calc(1664px + 24px);
}

nav ul li a {
    text-transform: uppercase;
}

nav ul li:not(:last-child) {
    margin-right: 40px;
}

.imageSectionHero{
    margin-right: 0;
}